$primary: #8b3781;
$danger: #fc440f;
$white: #fefefe;

@import 'bootstrap/scss/bootstrap';

body {
	color: $primary;
}

.actions {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
}

.action {
	min-height: 200px;
	width: 200px;
	font-size: 1.2em;
	border: 1px solid $primary;
	border-radius: 0.5rem;
	padding: 1rem;
}

.input-group,
.form-check {
	margin-bottom: 1em;
}

.btn-danger,
.btn-danger:hover {
	color: white;
}

.table {
	color: $primary;
}

.card-header {
	font-size: 1.5em;
}

.container-md {
	max-width: 800px;
}

.locale-image {
	height: 2em;
}

.locale {
	border: none;
	background-color: transparent;
	width: 50px;
}

.results {
	margin-top: 1em;
}

.input-inline {
	display: inline-block;
}

.unenroll-list {
	height: 60px;
	display: flex;
	align-items: center;
	position: sticky;
}

.unenroll-actions-list {
	display: flex;
	gap: 10px;
}

.enroll-status {
	.username {
		margin-left: 10px;
		margin-right: auto;
	}
	display: flex;
}
