@media all and (min-width: 480px) {
  .grade {
    padding: 60px 0;
  }

  .grade form {
    margin: 0 auto;
    max-width: 320px;
  }

  .courses-list {
    margin: 0 auto;
    max-width: 480px;
  }
}

.courses-list {
  padding: 1em 0;
}
