@media all and (min-width: 480px) {
  .proctoring {
    padding: 60px 0;
  }

  .proctoring form {
    margin: 0 auto;
    max-width: 320px;
  }

  .courses-list {
    margin: 0 auto;
    max-width: 480px;
  }
}

.courses-list {
  padding: 1em 0;
}

.test-name {
  word-wrap: break-word;
  max-width: 49%;
}

.url {
  word-wrap: break-word;
  max-width: 49%;
  /* max-height: 1em; */
}

.link-wrapper {
  margin-top: 1em;
}
