.col {
  padding: 0 5px;
}

.buttons-row {
  margin: 5px -20px;
}

.buttons-row button {
  margin: 5px 5px;
}

.w-100 {
  min-height: 10px;
}

@media all and (min-width: 480px) {
  .w-100 {
    display: none;
  }
}
